/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(255, 255, 255, 0.303);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #fff;
}
.accordion h4 {
  font-family: 'Handlee', cursive;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 0.8rem;
}
.panel p:first-child {
  padding-top: 1rem;
}
.panel p {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.panel p span {
  color: #6D3B5A;
  font-family: 'Handlee', cursive;
  font-size: larger;
}

.panel:nth-child(4n) p span {
  color: #eee0dc;
}
button.accordion {
  font-family: 'Handlee', cursive;
  font-size: larger;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}