/* Navigation */

.navbar {
  background-color: #fff;
}
.navbar-menu {
  padding: 1rem;
}
.navbar-start {
  align-items: stretch;
}
.navbar-start i {
  color: #555;
  font-size: 3rem;
  padding-left: 2rem;
}
.navbar-start h2 {
  padding-left: 1.2rem;
  padding-top: 0.2rem;
}
a.navbar-burger span {
  color: #555;
}

/* New Recipe */

.new-recipe {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #eee0dc;
  padding: 5rem 0;
}


/* Show Recipe */

.show-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.show-recipe-container h2 {
  font-size: 3rem;
}

/* Create / Update Recipe Form */

#create-recipe-form h2, .field h2 label, #update-recipe-form h2{
    font-size: 2rem;
    padding: 1rem 0 0.5rem 0;
    color: #555;
    font-weight: 300;
  }
  .recipe-form h3 {
    font-family: 'Handlee', cursive;
    font-size: 1.2rem;
  }
  .recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }



/* Recipe Result */

#recipe-result {
  background: #6D3B5A;
  color: #fff;
  height: auto;
  width: 40%
}
#recipe-result h2 {
  font-size: 2.5rem;
  padding: 1rem;
}
#recipe-result h3 {
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}
#create-basic-ul, #create-add_on-ul, #update-add_on-ul, #update-basic-ul, #update-oil-ul, #update-superfood-ul, #update-keksform-ul {
  padding: 0.5rem 1rem 0.2rem 1rem;
}

#update-oil-ul li, #update-superfood-ul li, #update-keksform-ul li {
  list-style-type: disc;
}




/* Update Recipe Modal */

.modal {
  display: none; 
  position: fixed; 
  z-index: 200; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100vh;
  overflow: auto; 
  background: #939597;
}

/* Header for Updateform */

.header-updateform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: #fff;
}
.header-updateform h2 {
  font-size: 2.5rem;
}
.header-updateform i {
  font-size: 3rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

/* Close Button for Modal*/

.close {
  display: none;
  color: #555;
  font-size: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  margin: 1rem;
  z-index: 88888;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: #e0c2d4;
}



@media (max-width: 1000px) {
  .new-recipe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  #create-recipe-form, #update-recipe-form {
    width: 90%;
  }

  #recipe-result {
    width: 80%;
  }
}

