/* Import */

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* CSS Reset */

body {
  margin: 0 auto;
  font-family: 'Lato';
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h2 {

  font-family: 'Handlee', cursive;
  font-size: 2rem;
}
p {
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}
ul,li{
  list-style:none;
}

/* Header */

header {
  background-color: #eee0dc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 5rem;
}

h1 {
  font-family: 'Handlee', cursive;
  color: #555;
  font-size: 5rem;
}
header i {
  font-size: 7rem;
  color: #fff;
}

/* Navigation */

.navbar {
  background-color: transparent;
}
a.button.is-primary.sign_up {
  border: 1px solid #fff;
}
.navbar-burger {
  height: 5rem;
  width: 5rem;
}
a.navbar-burger span {
  color: #fff;
  width: 20px;
  height: 2px;
  padding-top: 3px;
}
.button.is-primary {
  background-color: #939597;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.button.is-primary:hover {
  background-color: #6D3B5A;
  transition-duration: 0.2s;
}

/* Search Form */ 

.search {
  width: 300px;
  padding: 3rem 0 0 0;
}
.search p {
  padding-bottom: 2rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #555;
}
.search_field {
  display: flex;
}
.is-primary.input {
  border-color:  #939597;
}

/* Recipe Container */

.recipe-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

/* Footer */

footer {
  background-color: #6D3B5A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
footer small {
  color: #fff;
  font-family: 'Handlee', cursive;
  font-size: 1rem;
  padding: 2rem 0 1rem 0;
}
footer i {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

/* Login Section */

.login-container {
  margin-top: 20rem;
}

/* Registration */

i.fa-solid .fa-check-double {
  color: #000;
  width: 200px;
}
.fa-solid.fa-check {
color: #00d1b2;
  font-size: 4rem;
}










@media (max-width: 1024px) {
	.navbar {
    position: absolute;
    top: 0;
    right: 0;
	}
}
